<!--header section start-->
<header class="header">
  <!--start navbar-->
  <nav class="navbar navbar-expand-lg fixed-top bg-transparent text-center">
    <div class="container d-block">
      <a class="navbar-brand m-auto" href="/"
        ><img
          src="../../../assets/img/logos/LOGO-TIPO-2-ACTUALIZACION.png"
          width="140"
          alt="logo"
          class="img-fluid p-3"
      /></a>
      <!-- <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="ti-menu"></span>
      </button> -->

      <div
        class="collapse navbar-collapse main-menu"
        id="navbarSupportedContent"
      >
        <!-- <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link page-scroll dropdown-toggle"
              href="#"
              id="navbarDropdownHome"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Home
            </a>
            <div
              class="dropdown-menu submenu"
              aria-labelledby="navbarDropdownHome"
            >
              <a class="dropdown-item" href="index.html">Demo Template 1</a>
              <a class="dropdown-item" href="index-2.html">Demo Template 2</a>
              <a class="dropdown-item" href="index-3.html">Demo Template 3</a>
              <a class="dropdown-item" href="index-4.html">Demo Template 4</a>
              <a class="dropdown-item" href="index-5.html">Demo Template 5</a>
              <a class="dropdown-item" href="index-6.html">Demo Template 6</a>
              <a class="dropdown-item" href="index-7.html">Demo Template 7</a>
              <a class="dropdown-item" href="index-8.html">Demo Template 8</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#services">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#pricing">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Pages
            </a>
            <div class="dropdown-menu submenu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="about-us.html">About Us</a>
              <a class="dropdown-item" href="services.html">Our Services</a>
              <a class="dropdown-item" href="pricing.html">Our Pricing</a>
              <a class="dropdown-item" href="contact-us.html">Contact Us</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#contact">Contact</a>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>
  <!--end navbar-->
</header>
<!--header section end-->

<div class="main">
  <!--hero section start-->
  <section
    class="hero-section ptb-100 background-img"
    style="background: url('http://agencyco.themetags.com/img/hero-bg-1.jpg') no-repeat center center / cover"
  >
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-6">
          <div class="hero-content-left text-white mt-lg-0 mt-md-0 mt-5">
            <h1 class="text-white main-title">Los Autoestimados más rápidos y confiables</h1>
            <p class="lead">
              Auto estimados online ofrece el servicio de estimaciones en linea
              más experimentado de puerto rico. Obtén tu estimado con nosotros
              en menos de una hora.
            </p>

            <!--clients logo start-->
            <div class="client-section-wrap mt-5">
              <h3 class="text-white">
                <img src="../../../assets/img/pr_flag.svg" style="max-width: 30px;" alt="">
                Puerto Rico confía en nosotros:
              </h3>
              <ul class="list-inline partners-list">
                <li *ngFor="let logo of logos" class="list-inline-item">
                  <img
                    [ngStyle]="{'width': logo.width}"
                    [src]="logo.img"
                    width="85"
                    alt="client"
                    class="img-fluid"
                  />
                </li>
              </ul>
            </div>
            <!--clients logo end-->
          </div>
        </div>
        <div class="col-md-6 col-lg-5">
          <div
            class="sign-up-form-wrap position-relative rounded"
          >
            <div class="sign-up-form-header text-center mb-4">
              <!-- <h4 class="mb-0">Obten tu estimado en menos de una hora</h4> -->
              <div class="form-group">
                <a href="https://wa.me/17876075676?text=Hola%20estoy%20interesado%20en%20los%20servicios%20de%20Autoestimados%20online%21%0A" target="_blank" class="whatsapp-btn btn outline-btn btn-block">
                  CONTACTANOS
                  <img class="whatsapp-btn-img ml-3" src="../../../assets/img/whatsapp.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--hero section end-->

  <!--promo section start-->
  <section class="promo-section pt-5 pb-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-9">
          <div class="section-heading text-center mb-5">
            <h2>Contamos con más de 40 ańos de experiencia en la industria. La ponemos a tu disposición para que obtengas el mejor estimado en el menor tiempo posible.</h2>
            <p class="lead">
              Somos una empresa respaldada por Hojalatería del Este, taller 5 estrellas reconocido por todas las aseguradoras de Puerto Rico.
            </p>
          </div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div
            class="single-services single-feature-hover gray-light-bg single-feature text-center p-5 h-100"
          >
            <span
              class="ti-bar-chart primary-bg text-white icon rounded"
            ></span>
            <div class="feature-content">
              <h5 class="mb-2">Estimación rápida y precisa</h5>
              <p>
                Ofrecemos estimados rápidos y precisos para cualquier tipo de vehículo.
                Lo mejor? no necesitas desplazarte ni dejar el carro con nosotros!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div
            class="single-services single-feature-hover gray-light-bg single-feature text-center p-5 h-100"
          >
            <span class="ti-shield primary-bg text-white icon rounded"></span>
            <div class="feature-content">
              <h5 class="mb-2">Cualquier tipo de incidente</h5>
              <p>
                Necesitas un estimado por un choque, colision o algun otro tipo de daño?
                nosotros nos encargamos!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div
            class="single-services single-feature-hover gray-light-bg single-feature text-center p-5 h-100"
          >
            <span class="ti-cup primary-bg text-white icon rounded"></span>
            <div class="feature-content">
              <h5 class="mb-2">Seguimiento personal</h5>
              <p>
                Te apoyamos con el Ajustador protegiendo el precio de tu estimado
                y agregamos cualquier copia que necesites sin ningún costo adicional.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--promo section end-->

  <!--about us section start-->
  <section id="about" class="about-us ptb-100 gray-light-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="about-content-left">
            <h2>Una empresa familiar con calidad corporativa</h2>
            <p class="lead">
              Atendemos tu caso y tu vehiculo con cariño y compromiso, nos caracteriza la seriedad con la que atendemos cada caso
              y el cuidado de cada detalle.
            </p>
          </div>
          <div class="row">
            <div class="single-feature my-4 col-md-6">
              <div class="d-flex align-items-center mb-2">
                <span
                  class="ti-alarm-clock rounded mr-3 icon primary-bg text-white"
                ></span>
                <h5 class="mb-0">Autoestimados Online</h5>
              </div>
              <p>
                Realizamos el estimado más preciso posible para tu carro, camioneta o motora,
                nuestra experiencia te ayuda a proteger el precio de tu estimación y garantizar
                que recibas el mejor trato posible.
              </p>
            </div>
            <div class="single-feature my-4 col-md-6">
              <div class="d-flex align-items-center mb-2">
                <span
                  class="ti-alarm-clock rounded mr-3 icon primary-bg text-white"
                ></span>
                <h5 class="mb-0">Hojalateria del Este</h5>
              </div>
              <p>
                Hojalateria del Este es el unico taller 5 estrellas de Puerto Rico que realiza adaptaciones
                con perlas que le dan una identidad unica a tu vehiculo, nuestro compromiso es que te vehiculo no abandone
                nuestro taller hasta que estes 100% satisfecho e impresionado.
              </p>
            </div>
            <div class="col-md-6 my-4">
              <div class="form-group">
                <a
                target="_blank"
                  class="btn solid-btn btn-block"
                  href="https://wa.me/17876075676?text=Hola%20estoy%20interesado%20en%20los%20servicios%20de%20Autoestimados%20online%20y%20Hojalateria%20del%20Este%21%0A">
                  Obtener más información
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="counter">
            <div class="single-card box-animation-1 primary-bg text-white">
              <span class="ti-medall-alt"></span>
              <h3>3000</h3>
              <p>+3000 vehiculos atendidos</p>
            </div>
            <div class="single-card box-animation-2 secondary-bg text-white">
              <span class="ti-headphone-alt"></span>
              <h3>1</h3>
              <p>Atendems en 1 hora o menos</p>
            </div>
            <div class="single-card box-animation-3 secondary-bg text-white">
              <span class="ti-cup"></span>
              <h3>40</h3>
              <p>Más de 40 años de experiencia</p>
            </div>
            <div class="single-card box-animation-4 primary-bg text-white">
              <span class="ti-user color-secondary"></span>
              <h3>100</h3>
              <p>100% de clientes satisfechos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--about us section end-->

  <!--promo section start REDES SOCIALES-->
  <!-- <section class="promo-section ptb-100">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div
            class="single-promo single-promo-hover gray-light-bg h-100 rounded"
          >
            <img
              src="../../../assets/img/service6.jpg"
              alt="promo image"
              class="img-fluid img-full-box"
            />
            <div class="promo-info">
              <h5>Redes sociales</h5>
              <p>
                Increase sales by showing true dynamics of your website. Build
                your online store’s trust using Social Proof & Urgency.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div
            class="single-promo single-promo-hover gray-light-bg h-100 rounded"
          >
            <img
              src="../../../assets/img/service2.jpg"
              alt="promo image"
              class="img-fluid img-full-box"
            />
            <div class="promo-info">
              <h5>Redes sociales</h5>
              <p>
                Build your online store’s trust using Social Proof & Urgency.
                Realize importance of social proof in customer’s.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div
            class="single-promo single-promo-hover gray-light-bg h-100 rounded"
          >
            <img
              src="../../../assets/img/service7.jpg"
              alt="promo image"
              class="img-fluid img-full-box"
            />
            <div class="promo-info">
              <h5>Redes sociales</h5>
              <p>
                Realize importance of social proof in customer’s purchase
                decision. Increase sales by showing true dynamics website.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--promo section end-->

  <!--our video promo section start-->
  <section
    class="video-promo ptb-100 background-img"
    style="background: url('http://agencyco.themetags.com/img/video-bg.jpg') no-repeat center center / cover"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 col-lg-8">
          <div class="text-center mb-5 text-white">
            <h2 class="text-white">Conocenos de cerca, mira nuestro video</h2>
            <!-- <p class="lead">
              Credibly redefine high-payoff web services after holistic
              experiences. Dramatically enable go forward cross-platform
              scenarios vis-a-vis diverse markets.
            </p> -->
          </div>
          <div class="video-promo-content mt-4 text-center">
            <a
              href="https://www.youtube.com/watch?v=9No-FiEInLA"
              class="popup-youtube video-play-icon d-inline-block"
            >
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--our video promo section end-->

  <!--google map start-->
  <section class="find-us my-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-9 pt-4">
          <div class="section-heading text-center mb-5">
            <h2>Quieres visitarnos?</h2>
            <p class="lead">
              Atendemos a todo Puerto Rico, puedes visitarnos nuestras puertas estan abiertas
              desde el taller de Hojalatería del Este.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="google-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15170.350512667364!2d-65.8474107!3d18.0906352!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe25ee7dd553e2d0d!2sHojalateria%20del%20Este!5e0!3m2!1ses!2sve!4v1651676280523!5m2!1ses!2sve"
        height="450"
        style="border: 0"
        allowfullscreen=""
      ></iframe>
    </div>
  </section>
  <!--google map end-->

  <!--call to action start-->
  <section
    class="call-to-action ptb-100 background-img"
    style="
      background: url('http://agencyco.themetags.com/img/hero-bg-2.jpg') no-repeat center center / cover fixed;
    "
  >
    <div class="container">
      <div class="row align-items-center justify-content-around">
        <div class="col-md-8 col-lg-8">
          <div class="call-to-action-content text-white">
            <h2 class="text-white mb-1">
              Más rápido y fácil de lo que crees.
            </h2>
            <p>
              Estas a un click de distancia, haz click en el boton de contacto y en breves minutos estaremos ofreciendote nuestra ayuda.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div
            class="call-to-action-btn text-md-right text-lg-right text-sm-left"
          >
            <a href="#" (click)="goChat()" class="btn solid-btn">
              Obtener estimado</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--call to action end-->

  <!--footer section start-->
  <footer class="footer-section">
    <!--footer top start-->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <!-- <div class="row footer-top-wrap">
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3 col-sm-6">
                <div class="footer-nav-wrap">
                  <h4>QUICK LINKS</h4>
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Make Appointment</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Department Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Our Business Growth</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="footer-nav-wrap">
                  <h4>LEGAL</h4>
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Terms of Service</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> -->
          </div>
          <div class="col-md-3">
            <div class="row footer-top-wrap">
              <div class="col-12">
                <div class="footer-nav-wrap">
                  <h4>GET IN TOUCH</h4>
                  <ul class="get-in-touch-list">
                    <li class="d-flex align-items-center py-2">
                      <span class="ti-location-pin"></span> Carretera 3 KM 90.6 Barrio Aguacate,
                      Yabucoa, PR 00767.
                    </li>
                    <li class="d-flex align-items-center py-2">
                      <span class="ti-email"></span> autoestimadosonline@gmail.com
                    </li>
                    <li class="d-flex align-items-center py-2">
                      <span class="ti-mobile"></span> (787) 6075676 - (787)
                      378-4599
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--footer top end-->

    <!--footer copyright start-->
    <div class="footer-bottom gray-light-bg py-2">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md-5 col-lg-5">
            <p class="copyright-text pb-0 mb-0">
              Copyrights © 2022. Powered by
              <a href="https://groobay.com" target="_blank"
                >Groobay.com</a
              >
            </p>
          </div>
          <div class="col-md-7 col-lg-6 d-none d-md-block d-lg-block">
            <div class="social-nav text-right">
              <ul class="list-unstyled social-list mb-0">
                <li class="list-inline-item tooltip-hover">
                  <a href="https://www.facebook.com/autoestimadosonlinepr/" target="_blank" class="rounded"
                    ><span class="ti-facebook"></span
                  ></a>
                  <div class="tooltip-item">Facebook</div>
                </li>
                <!-- <li class="list-inline-item tooltip-hover">
                  <a href="#" class="rounded"
                    ><span class="ti-twitter"></span
                  ></a>
                  <div class="tooltip-item">Twitter</div>
                </li>
                <li class="list-inline-item tooltip-hover">
                  <a href="#" class="rounded"
                    ><span class="ti-linkedin"></span
                  ></a>
                  <div class="tooltip-item">Linkedin</div>
                </li>
                <li class="list-inline-item tooltip-hover">
                  <a href="#" class="rounded"
                    ><span class="ti-dribbble"></span
                  ></a>
                  <div class="tooltip-item">Dribbble</div>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--footer copyright end-->
  </footer>
  <!--footer section end-->
</div>
